<h1>New Place</h1>

<form action="/places" method="post">
  <p>
    <label for="name">Name</label><br>
    <input type="text" id="name" name="place[name]">
  </p>

  <h2>First Entry</h2>
  <p>
    <label for="occurred_on">Date I travelled there</label><br>
    <input type="date" id="occurred_on" name="entry[occurred_on]">
  </p>

  <p>
    <label for="description">Who I travelled with</label><br>
    <textarea id="description" name="entry[description]"></textarea>
  </p>

  <button>Create Place</button>
</form>

<p>
  <a href="/places">Back</a>
</p>
