<!DOCTYPE html>
<html>
  <head>
    <title>StarterApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <nav>
      <a href="/places">Places</a> |
      <a href="/entries">All Entries</a>
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
